/* Common styles by Michael*/

body {
    width: 100%;
    margin: 0 auto;

    @include font-style-light($ffMain, 24px, 400);
    line-height: 0.8;

    background-color: $brown;
}

.section {
    width: 100%;

    position: relative;
    
    &--dark {
        background-color: $brown;
    }

    &--light {
        background-color: $cream;
    }
}

.container {
    max-width: 1250px;
    width: 100%;

    margin: 0 auto;
    padding: 0 25px;

    position: relative;

    // @include media ('<laptop'){
    //     padding: 0 15px;
    // }
}

.sprite {
    display: none;
}

img {
    max-width: 100%;
    
    display: block;

    cursor: pointer;
}
