/* Common styles by Michael*/

body {
    width: 100%;
    margin: 0 auto;

    @include font-style-light($ffPrimary, 24px, 400);
    line-height: 1.3;

    background-color: $black;
}

.section {
    width: 100%;

    position: relative;
    
    &--dark {
        background-color: $black;
    }

    &--light {
        background-color: $cream;
    }

    &__inner {
        width: 100%;

        padding: 75px 0;

        text-align: center;

        @include media('<laptop') {
            padding: 50px 0;
        }

        @include media('<tablet') {
            padding: 35px 0;
        }
    }

    &-title {
        margin-bottom: 20px;

        display: inline-block;

        text-transform: uppercase;

        position: relative;

        &::before {
            width: 50%;
            height: 3px;

            content: '';
            position: absolute;
            bottom: -10px;
            left: 0;
        }

        &--dark {
            @include font-style-dark($ffPrimary, 32px, 700);
            @include adaptiv-font(48, 26);

            &::before {
                background-color: $black;
            }
        }

        &--light {
            @include font-style-light($ffPrimary, 32px, 700);
            @include adaptiv-font(48, 26);

            &::before {
                background-color: $cream;
            }
        }
    }

    &-desc {
        margin-bottom: 50px;

        text-transform: uppercase;

        @include media('<tablet') {
            margin-bottom: 35px;
        }

        &--dark {
            @include font-style-dark($ffPrimary, 32px, 700);
            @include adaptiv-font(22, 14); 
        }

        &--light {
            @include font-style-light($ffPrimary, 32px, 700);
            @include adaptiv-font(22, 14); 
        }
    }
}

.container {
    max-width: 1250px;
    width: 100%;

    margin: 0 auto;
    padding: 0 25px;

    position: relative;

    // @include media ('<laptop'){
    //     padding: 0 15px;
    // }
}

.sprite {
    display: none;
}

img {
    max-width: 100%;
    
    display: block;

    cursor: pointer;
}

.no-scroll {
    overflow: hidden;
}
