// Colors
$white: #FFFFFF;
$cream: #FCFCFC;
$lightBrown: #b16100;
$black: #0F1010;
$brown: #1b1209;

//manual
$ffMain: 'Oswald', sans-serif;
$ffSecondary: 'Montserrat', sans-serif;


// Width
// $large: (max-width: 1440px);
// $hd: (max-width: 1280px);
// $laptop: (max-width: 1024px);
// $intermediate: (max-width: 1023px);
// $tablet: (max-width: 768px);
// $medium: (max-width: 767px);
// $l: (max-width: 425px);
// $m: (max-width: 375px);
// $s: (max-width: 350px);