section.about.section.section--dark#about
    .container
        .section__inner
            h2.section-title.section-title--light About Us
            p.section-desc.section-desc--light Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, voluptatem!

            .slider#aboutSlider
                .slider__item
                    .slider__item__inner
                        .slider__item__content
                            h3.slider__item__title Lumberjack 1
                            p.slider__item__desc Lorem ipsum dolor sit amet consectetur.
                        img.slider__item__img.img(src="img/about/lumberjack.jpg", alt="Wood")
                .slider__item
                    .slider__item__inner
                        .slider__item__content
                            h3.slider__item__title Forest 1
                            p.slider__item__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, iure.Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, iure.Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, iure.Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, iure.Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, iure.Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, iure.
                            
                        img.slider__item__img.img(src="img/about/lumberjack.jpg", alt="Wood")
                .slider__item
                    .slider__item__inner
                        .slider__item__content
                            h3.slider__item__title Lumberjack 2
                            p.slider__item__desc Lorem ipsum dolor sit amet consectetur.
                        img.slider__item__img.img(src="img/about/lumberjack.jpg", alt="Wood") 
                .slider__item
                    .slider__item__inner
                        .slider__item__content
                            h3.slider__item__title Lumberjack 1
                            p.slider__item__desc Lorem ipsum dolor sit amet consectetur.
                        img.slider__item__img.img(src="img/about/lumberjack.jpg", alt="Wood")
                .slider__item
                    .slider__item__inner
                        .slider__item__content
                            h3.slider__item__title Lumberjack 2
                            p.slider__item__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, iure.Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, iure.Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, iure.
                            
                        img.slider__item__img.img(src="img/about/lumberjack.jpg", alt="Wood")
                .slider__item
                    .slider__item__inner
                        .slider__item__content
                            h3.slider__item__title Lumberjack 2
                            p.slider__item__desc Lorem ipsum dolor sit amet consectetur.
                        img.slider__item__img.img(src="img/about/lumberjack.jpg", alt="Wood")
            .slider-controller