//- ../index.pug

header.header.section.section--dark#header
    .header-burger#headerBurger
        span.header-burger__line
    .container
        .header__inner
            h1.header-title wood
            
            nav.header-nav
                a.header-nav__link(href="#") services
                a.header-nav__link(href="#") about us
                a.header-nav__link(href="#") goods
                a.header-nav__link(href="#") contacts


