//- ../index.pug

header.header.section.section--dark#header
    .header-burger#headerBurger
        span.header-burger__line
    .container
        .header__inner
            a.header-title(href="#") wood
            
            nav.header-nav
                a.header-nav__link(href="#") services
                a.header-nav__link(href="#") about us
                a.header-nav__link(href="#") goods
                a.header-nav__link(href="#") contacts
    
    aside.header-aside#headerAside
        nav.header-aside__nav
            .header-aside-burger#headerAsideBurger
                span.header-aside-burger__line

            a.header-aside__link(href="#" data-scroll="#intro") 
                span Intro
            a.header-aside__link(href="#" data-scroll="#services") 
                span Services
            a.header-aside__link(href="#" data-scroll="#about") 
                spab About Us
            a.header-aside__link(href="#" data-scroll="#about") 
                spab Quote
            a.header-aside__link(href="#" data-scroll="#goods") 
                span Goods
            a.header-aside__link(href="#" data-scroll="#goods") 
                span Our customers
            a.header-aside__link(href="#" data-scroll="#contacts") 
                span Contacts


