//- ../index.pug

main.intro.section.section--dark#intro
    .container
        .intro__inner
            .intro__content
                h2.intro__title wood
                p.intro__desc Lorem ipsum dolor sit amet.

            .intro__mouse-block
                svg.intro-mouse(width="65" height="55")
                        use(xlink:href="#mouse")
                span.intro-arrow