section.quote.section.section--light#quote
    .quote__inner
        .container
            .quote__content
                div
                    h2.section-title.section-title--dark Quote
                    p.quote-text.quote-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, exercitationem iusto dolor quis magni repellendus rem ab vel laudantium illo quo earum possimus repudiandae repellat.

    .quote__picture
        img.img(src='img/quote/crimea.jpg' alt='Owner')
        .quote__desc
            h3.services__item__title
            p.section-text--dark

            .quote__desc__content
                ul.quote__desc__list
                    li.quote__desc__item
                        h4.services__item__title
                        p.section-text.section-text--dark