section.quote.section.section--light#quote
    .quote__inner
        .container
            .quote__content
                div
                    h2.section-title.section-title--dark Quote
                    p.quote-text.quote-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, exercitationem iusto dolor quis magni repellendus rem ab vel laudantium illo quo earum possimus repudiandae repellat.

    .quote__picture#quotePicture
        img.img#quoteImg(src='img/quote/crimea.jpg' alt='Owner')
        .quote__desc#quoteDesc
            #quoteheader
                h3.services__item__title Michael Rezkiy
                p.section-text.section-text--dark Software developer

            ul.quote__desc__list#quoteDescList
                li.quote__desc__item
                    h4.quote__desc__item-title Education
                    p.quote__desc__item-text Machine Bulding College
                li.quote__desc__item
                    h4.quote__desc__item-title Soft SKills
                    p.quote__desc__item-text Lorem ipsum dolor sit amet.
                    p.quote__desc__item-text Lorem ipsum dolor sit amet. Lorem, ipsum dolor.
                li.quote__desc__item
                    h4.quote__desc__item-title Hard SKills
                    p.quote__desc__item-text Lorem, ipsum dolor sit amet consectetur adipisicing.
                    p.quote__desc__item-text Lorem, ipsum dolor sit amet consectetur adipisicing.
                li.quote__desc__item
                    h4.quote__desc__item-title Education
                    p.quote__desc__item-text Machine Bulding College
                li.quote__desc__item
                    h4.quote__desc__item-title Soft SKills
                    p.quote__desc__item-text Lorem ipsum dolor sit amet.
                    p.quote__desc__item-text Lorem ipsum dolor sit amet. Lorem, ipsum dolor.
                li.quote__desc__item
                    h4.quote__desc__item-title Hard SKills
                    p.quote__desc__item-text Lorem, ipsum dolor sit amet consectetur adipisicing.
                    p.quote__desc__item-text Lorem, ipsum dolor sit amet consectetur adipisicing.
                li.quote__desc__item
                    h4.quote__desc__item-title Education
                    p.quote__desc__item-text Machine Bulding College
                li.quote__desc__item
                    h4.quote__desc__item-title Soft SKills
                    p.quote__desc__item-text Lorem ipsum dolor sit amet.
                    p.quote__desc__item-text Lorem ipsum dolor sit amet. Lorem, ipsum dolor.
                li.quote__desc__item
                    h4.quote__desc__item-title Hard SKills
                    p.quote__desc__item-text Lorem, ipsum dolor sit amet consectetur adipisicing.
                    p.quote__desc__item-text Lorem, ipsum dolor sit amet consectetur adipisicing.