section.services.section.section--light#services
    .container
        .section__inner
            h2.section-title.section-title--dark services
            p.section-desc.section-desc--dark Lorem ipsum dolor sit amet.

            .services__content
                .services__item
                    .services__item__inner
                        .services__item__header
                            svg.services__item__svg(width="65" height="55")
                                use(xlink:href="#carriage")
                            h3.services__item__title Carriage
                        p.services__item__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. 

                .services__item
                    .services__item__inner
                        .services__item__header
                            svg.services__item__svg(width="65" height="55")
                                use(xlink:href="#ax")
                            h3.services__item__title Ax
                        p.services__item__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi blanditiis saepe dolorem corporis sint voluptate fugiat impedit architecto numquam similique?
                        
                .services__item
                    .services__item__inner
                        .services__item__header
                            svg.services__item__svg(width="65" height="55")
                                use(xlink:href="#furniture")
                            h3.services__item__title Furniture
                        p.services__item__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi blanditiis saepe dolorem corporis sint voluptate fugiat impedit architecto numquam similique?blanditiis saepe dolorem corporis sint voluptate fugiat impedit architecto numquam similique?