/* Header styles by Michael*/
@import '../mixins';
@import '../vars';

// Header
.header {
    padding: 25px 0;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    &__inner {
        display: grid;
        grid-template-columns: repeat(6, 2fr);

        @include media('<568px') {
            grid-template-columns: repeat(3, 4fr);
        }
    }

    &-burger {
        width: 50px;
        height: 50px;

        padding: 15px 10px;

        @include flex(center, flex-start, nowrap);

        position: absolute;
        top: 50%;
        left: 25px;
        z-index: 1;

        transform: translateY(-50%);

        cursor: pointer;

        @include media('<568px') {
            left: auto;
            right: 0;
        }

        &:hover &__line::before {
            width: 75%;
        }

        &:hover &__line::after {
            width: 50%;
        }

        &__line {
            width: 30px;
            height: 1px;

            position: relative;

            background-color: $brown-light;

            transition: all .1s ease;

            &::before, 
            &::after {
                width: 100%;
                height: 100%;

                content: '';
                position: absolute;
                left: 0;
                z-index: 1;

                background-color: $brown-light;

                transition: all .2s ease;
            }

            &::before {
                top: 8px;
            }

            &::after {
                top: 16px;
            }
        }
    }

    &-title {
        grid-column: 3 / 4;

        @include link-font-style($cream ,$ffPrimary, 36px, 700, none);
        text-transform: uppercase;

        transition: all .1s ease-in-out;

        &:hover {
            transform: scale(1.05);
        }

        @include media('<laptop') {
            font-size: 34px;
        }

        @include media('<tablet') {
            font-size: 32px;
        }

        @include media('<568px') {
            grid-column: 2 / 3;

            font-size: 30px;

            text-align: center;
        } 
    }

    &-nav {
        grid-column: 4 / 6;

        @include flex(space-between, center, nowrap);

        @include media('<=hd') {
            grid-column-end: 7;
        }

        @include media('<tablet') {
            justify-content: space-around;
        } 

        @include media('<568px') {
            display: none;
        } 

        &__link {
            @include link-font-style($cream, $ffSecondary, 16px, 500, none);
            text-transform: uppercase;

            position: relative;

            opacity: .7;

            transition: all .2s ease-in;

            &::before {
                width: 0;
                height: 2px;

                content: '';
                position: absolute;
                left: 0;
                bottom: 0;

                background-color: $cream;

                transition: all .2s ease-in;
            }

            &:hover::before {
                width: 100%;
            }

            &:hover {
                opacity: 1;
            }

            @include media('<laptop') {
                font-size: 14px;
            } 

            @include media('<tablet') {
                font-size: 12px;
            } 
        }
    }
}